<div class="sidebar-card">
  <h3><%= t("pages.help.faq.title") %></h3>
  <p>Te ayudamos con mucho gusto:</p>
  <ul>
    <li>en el teléfono: <a href="tel:8112121212" target="_blank">81 12 12 12 12</a></li>
    <li>en tu ciberquiosco más cercano</li>
  </ul>
  <p class="info">
    de Lunes a Viernes de 8am a 8pm y Sábados de 8am a 1pm, o escríbenos a: <a href="mailto:decide@sanpedro.gob.mx" target="_blank">decide@sanpedro.gob.mx .</a>
  </p>
  <a class="button hollow expanded" style="font-size: 20px;" target="_blank"  href="https://s3.us-east-2.amazonaws.com/consulsppp/spgg19_final.pdf">Descarga la guía práctica</a>
</div>
